.box {
  box-sizing: border-box;
  margin: 0 auto;
  margin-top: 20px;
  overflow: scroll;
  padding: 15px;
  width: 400px;
  /*width: 2000px;*/
  height: 350px;
}

button {
  width: 100px;
  height: 40px;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}
